<?xml version="1.0"?>
<config>
    <modules>
        <Web4Pro_News>
            <version>0.1.0</version>
        </Web4Pro_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Web4Pro_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
    </frontend>   
      <admin>
	   <routers>
			<adminhtml>
				<use>admin</use>
				<args>
					<modules>
						<news before="Mage_Adminhtml">Web4Pro_News_Adminhtml</news>
					</modules>
					<frontName>news</frontName>
				</args>
			</adminhtml>
		</routers>
	   </admin>
	   <adminhtml>
        <menu>
            <news module="news">
                <title>News</title>
                <sort_order>71</sort_order>               
                <children>
                    <news module="news">
                        <title>Manage News</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/news</action>
                    </news>
                      <authors>
                          <title>Manage Autors</title>
                          <sort_order>1</sort_order>
						  <action>adminhtml/authors</action>
                      </authors>
                </children>
            </news>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <news>
                            <title>News Module</title>
                            <sort_order>200</sort_order>
                        </news>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
                <authors>
                    <file>authors.xml</file>
                </authors>
            </updates>
        </layout>
    </adminhtml>   
	<global>
        <models>
            <news>
                <class>Web4Pro_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <authors>
				<class>Web4Pro_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
			</authors>
            <news_mysql4>
                <class>Web4Pro_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                    <authors>
						<table>authors</table>
					</authors>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>Web4Pro_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
        </resources>
        <blocks>
            <news>
                <class>Web4Pro_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Web4Pro_News_Helper</class>
            </news>
        </helpers>
    </global>
</config>
